.classes{
    font-family: open sans, Montserrat,sans-serif;
    text-align: center;
    padding: 20px 5%;
    width: 100%;
    .classCode{
        display:flex;
        flex-direction: row;
        margin: 15px auto;
        width: fit-content;
        max-width: 100%;
        p{
            margin: 0px 15px;
            line-height: 35px;
            vertical-align: middle;
            font-weight: bold;
        }
        input{
            
            width: 220px;
            padding: 2px 15px;
            line-height: 30px;
            transition: all .2s ease-in-out;
            &::placeholder{
                color: gray
            }
            &:focus{
                transition: all .2s ease-in-out;
                border: 1px solid #FF5353;
                outline: 1px solid #FF5353;
            }
           
        }
    
    }
    button,.button{
        border: none;
        margin: auto;
        display: block;
        width: 200px;
        height: 35px;
        line-height: 35px;
        color: white;
        font-weight: 500;
        padding: 0px;
        background-color:#FF5353;
        transition: all .2s ease-in-out;
        text-decoration: none;
        &:hover{
            color: white;
            background-color: #FF5353;
            transform: scale(1.05,1.05);
        }
    }
    .clss{
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: left;
        .classCard{
            margin:15px 15px;
        }
    
    }
  
}

@media only screen and (max-width: 450px){
    .clss{
        justify-content: center !important;
    }
}