
.header{
    width: 100%;
    line-height: 60px;
    padding: 0px 5%; 
    // background-color: #4d71c7;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: #363B4A;
    // border-bottom: 1px solid lavender;
.nav-icon{
    display:flex;
    flex-direction: column;
    float:left;
    margin: 23px 20px 23px 0px;
    &:before,&:after,div{
        display:block;
        margin:2px;
        content:"";
        width: 25px;
        height:3px;
        border-radius: 15px;
        background-color: white;
    }
    div{
        width: 18px;
        &:hover{
            background-color: #FF5353;
        }
    }
    
}

.brand{
    font-size: large;
    font-weight: 500;
    color: white;
    text-decoration: none;
    letter-spacing: .00625em;
}
.brand:hover{
    color: #FF5353;
    text-decoration: none;
}
.plus{
    font-size: 30px !important;
}
a:nth-of-type(n+3){
    display: block;
    float: right;
    color: #E5E2E2;
    text-align: center;
    padding: 0px 30px;
    font-variant: normal;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    font-family: Poppins;
    letter-spacing:0.25px;
    
}
a:nth-of-type(3){
    margin-left: auto;
    color: #FF5353;
}

.avatar{
    width: 35px;
    height: 35px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    margin: 0px 30px;
    cursor: pointer;
}

}
.ant-modal{
    input{
        width: 220px;
        padding: 2px 15px;
        line-height: 30px;
    }

}

@media only screen and (max-width: 690px){
   
    .header{
        .avatar{
            margin-left: auto !important;
        }
        a:nth-of-type(n+3){
            display:none;
        }
    }
}