.postBar{
    width: 100%;
    min-height: 70px;
    max-height: 100%;
    // border: 1px solid gainsboro;
    // border: 1px solid royalblue;
    background-color: #3F4355;
    border-radius: 35px;
    max-width: 100%;
    min-width: 100%;
    margin: 20px 0px 10px 0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    transition:  all 0.5s ease-in-out;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    p{
        text-align: left;
        color: #E5E2E2;
        opacity: 60%;
        line-height: 40px;
        margin:0px;
        margin-left: 24px;
        width: 100%;
        &:hover{
            color: #FF5353;
            cursor: pointer;
        }
    }
    .avatar{
        min-width: 40px;
        min-height: 40px;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 1000px;
        background-size: contain;
        background-repeat: no-repeat;
        // border: 1px solid gainsboro;
        
    }

    .btns{
        display:none;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        max-width: 100%;
        width: 100%;
        padding-top: 10px;

        .postCancelGrp{
            display:flex;
            flex-direction: row;
        }
        .btn-outline:nth-of-type(1){
            display:"flex";
            align-items:"center";
            justify-content:"center";
            width: 100px;
        }
        .btn-outline{
            display:block;
            height: 35px;
            line-height: 35px;
            width: 70px;
            margin: 5px;
            // border: 1px solid gainsboro;
            border: 1px solid #FF5353;
            border-radius: 6px;
    
        }
    }


}

@media only screen and (max-width:450px){
.postBar{
    padding-top: 15px !important;
    p{
        font-size: 12px;
    }
}
}